---
---

<!-- Redirect memories to diary -->
<script>
	if (typeof window !== 'undefined') {
		window.location.replace('/diary/');
	}
</script>

<noscript>
	<p class="text-center p-8">
		此页面已迁移至 <a class="text-[var(--primary)] underline" href="/diary/">日记 / 岁月浅吟</a>
	</p>
</noscript>
